#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav a {
  color: white;
}

nav a:hover {
  text-decoration: none;
}

label {
  font-size: larger;
}

button {
  border-radius: 5px;
  background-color: var(--primary-color);
  color: white;
  padding: .7em;
  font-size: x-large;
  border: none;
  opacity: .9;
}

button:focus, button:hover {
  cursor: pointer;
  opacity: 1;
}

.man_thinking_svg {
  position: absolute;
  z-index: -1;
  height: 500px;
  transform: translate(-125%, 25%);
}
